{
    "developpement": {
        "PORT" : ,
        "MONGODB_URI": "#",
        "JWT_ACCESSTOKEN_SECRET": "",
        "JWT_ACCESSTOKEN_EXP": "15m",
        "JWT_REFRESHTOKEN_SECRET": "",
        "JWT_REFRESHTOKEN_EXP": "1h",
        "google": {
            "CLIENT_ID": "",
            "CLIENT_SECRET": ""
        },
        "AWS_ACCESS_KEY_ID": "",
        "AWS_SECRET_ACCESS_KEY": "",
        "AWS_REGION": "",
        "AWS_BUCKET_NAME": ""

    },
    "production" : {
        "PORT": ,
        "MONGODB_URI": "",
        "JWT_ACCESSTOKEN_SECRET": "",
        "JWT_ACCESSTOKEN_EXP": "1h",
        "JWT_REFRESHTOKEN_SECRET": "",
        "JWT_REFRESHTOKEN_EXP": "1d",
        "google": {
            "CLIENT_ID": "",
            "CLIENT_SECRET": ""
        },
        "AWS_ACCESS_KEY_ID": "",
        "AWS_SECRET_ACCESS_KEY": "",
        "AWS_REGION": "",
        "AWS_BUCKET_NAME": ""
    }
}